<footer>
  <div class="wrapper">

    <!--footerMenu-->
    <div class="footerMenu flex">
      <div class="footerMenu-block">
        <div class="h2-title flex-s-c">
          <span>Information</span>
        </div>
        <ul class="f-menu">
          <li><a href="">GitHub</a></li>
        </ul>
      </div>
      <div class="footerMenu-block">
        <div class="h2-title flex-s-c">
          <span>Community</span>
        </div>
        <ul class="f-menu">
          <li><a href="">Forum</a></li>
        </ul>
      </div>
      <div class="footerMenu-block">
        <div class="h2-title flex-s-c">
        </div>
        <ul class="f-menu">
        </ul>
      </div>
      <div class="footerMenu-block">
        <div class="h2-title flex-s-c">
          <span>Conctact</span>
        </div>
        <div class="e-mail">
          <p>E-mail:</p>
          <a href="#">admin@teampereda.com</a>
        </div>
        <div class="f-soc-icons">
          <a href="#" class="twitter"></a>
          <a href="#" class="fb"></a>
        </div>
      </div>
    </div>
    <span class="line"></span>
    <div class="footerInfo">
      <div class="footerInfo-block flex-s">
        <div></div>
        <div class="copy"><span>© 2023 </span> <a href="">teampereda.com.</a> <span> Powered by Angular</span></div>
      </div>
      <div class="f-text">
        This website was made with Angular frontend and Node Express as backend. You can find all the information and the process made in the github link added in "Information". Feel free to use, remember to always give credits to the creators. Best regards, Jorge from teampereda.com
      </div>
    </div>
  </div>
</footer>
