<p>mywork works!</p>
<app-nav-bar></app-nav-bar>
<span class="line"></span>
<div class="wrapper">
  <div class="mainHomeBlock flex-s">
    <aside>
      <app-github-feed></app-github-feed>
      <br>
      <app-skill-languages></app-skill-languages>
      <br>
      <app-social-media></app-social-media>
    </aside>
    <div class="content">
      <div class="h2-title h2-title-content flex-s-c">
        <span>My Projects</span>
      </div>

      <div class="table-row table-scroll">
        <table class="tableTicket">
          <thead>
            <tr>
              <td>Framework</td> <td></td> <td>Date and Time</td> <td>№ Projects</td> <td>Database</td> <td></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><img src="assets/php_mini.png" alt=""></td><td>Raw</td> <td>20/02/2023 20:00</td> <td>1</td> <td><img src="assets/mysql_mini.png" alt="MySQL"></td> <td><span class="message-button">Visit Website</span></td>
            </tr>

            <tr>
              <td><img src="assets/php_mini.png" alt=""></td><td><img src="assets/laravel_mini.png" alt=""></td> <td>20/02/2023 20:00</td> <td>1</td> <td><img src="assets/mysql_mini.png" alt="MySQL"></td> <td><span class="message-button">Visit Website</span></td>
            </tr>

            <tr>
              <td><img src="assets/typescript_mini.png" alt=""></td><td><img src="assets/angular_mini.png" alt=""></td> <td>20/02/2023 20:00</td> <td>1</td> <td><img src="assets/mongodb_mini.png" alt="MySQL"></td> <td><span class="message-button">Visit Website</span></td>
            </tr>

            <tr>
              <td><img src="assets/javascript_mini.png" alt=""></td><td>Raw</td> <td>20/02/2023 20:00</td> <td>1</td> <td>noDB</td> <td><span class="message-button">Visit Website</span></td>
            </tr>

            <tr>
              <td><img src="assets/typescript_mini.png" alt=""></td><td><img src="assets/vue_mini.png" alt=""></td> <td>20/02/2023 20:00</td> <td>1</td> <td><img src="assets/mongodb_mini.png" alt="MySQL"></td> <td><span class="message-button">Visit Website</span></td>
            </tr>

            <tr>
              <td><img src="assets/typescript_mini.png" alt=""></td><td><img src="assets/angular_mini.png" alt=""></td> <td>20/02/2023 20:00</td> <td>1</td> <td><img src="assets/mssql_mini.png" alt="MySQL"></td> <td><span class="message-button">Live Server</span></td>
            </tr>
          </tbody>
        </table>
      </div><!--table-row-->
      <ul class="pagination">
        <li><a href="#" class="number pag pag-prev"></a></li>
        <li><a href="#" class="number active">1</a></li>
        <li><a href="#" class="number pag  pag-next"></a></li>
      </ul>
    </div>
  </div>
</div>
<app-footer></app-footer>


