<app-nav-bar></app-nav-bar>
<span class="line"></span>
<div class="wrapper">
  <div class="mainHomeBlock flex-s">
    <aside>
      <app-github-feed></app-github-feed>
      <br>
      <app-skill-languages></app-skill-languages>
      <br>
      <app-social-media></app-social-media>
    </aside>
    <div class="content">
      <div class="h2-title h2-title-content flex-s-c">
        <span>Tutorials</span>
      </div>

      <h1>Todo App - Raw PHP</h1>

    </div>
  </div>
</div>
<app-footer></app-footer>


